/.vs
/Server/.vs/Server
/Server/Server/obj
/Server/Server/bin
/Server/.vs/config
/Server/Database/bin/
/Server/Database/obj
/Server/Entities/bin/
/Server/Entities/obj
/Server/Server/dockerfile
/Server/Utility/bin/
/Server/Utility/obj
*.user
.DS_Store
/Phaser/.DS_Store
/Server/Server/towerfall.db
/Server/Server/Properties/PublishProfiles
/Phaser/.idea/vcs.xml
/Phaser/.idea/codeStyles/codeStyleConfig.xml
