/* Main styles */
body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

#wrapper {
    width: 1050px;
    margin: 0 auto;
}

#overlay, #ingame-overlay {
    position: absolute;
    width: 1050px;
    height: 700px;
}

#overlay {
    background-image: url('../assets/loginbackground.jpg');
    background-position-x: -100px;
}

#first-login {
    display: flex;
    width: 100%;
    height: 100%;
}

#registration {
    display: none;
    width: 100%;
    height: 100%;
}

.form-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    margin: 0 auto;
}

input {
    margin: 30px 0;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
}

[type=text], [type=password] {
    padding-left: 10px;
}

.registerToggle {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

/* Main Menu */

.menu-manager{
    font-size:2.4em;
}

.menu{
    width:500px;
    margin-top: 20px;
    background-color:gray;
    margin-left: auto;
    margin-right: auto;
}

.menu-item{
    width:100%;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
}

.menu-item.selected{
    background-color: white;
}

.option-value{
    display: none;
    text-align: left;
}

.option-value.selected{
    display: block;
}

.option-values{
    display: inline-block;
    width: calc(50% - 10px);
    margin-left: 10px;
}

.option-name{
    display: inline-block;
    width:50%;
    text-align: right;
}

.option-name:after{
    margin-left: 10px;
    content:":";
}

/* Ingame Menu */

#ingame-overlay {
    background-color:rgba(15, 15, 15, 0.6);
}

#ingame-menu {
    margin: auto auto;
    width: 60%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.ingame-menu-item {
    position: relative;
    text-align: center;
    cursor: pointer;
}

.ingame-menu-item p {
    font-size: 26px;
    color: #fff;
    margin: 10px 0 20px;
}

.muted {
    position: absolute;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
}
